$bg: #20222B;
$primary: #E0B15D;
$secondary: #e95548;
$darkBG: #1E1D20;
$primaryHover: #ffaa13;
$secondaryHover: #b32e23;
html {
    scroll-behavior: smooth;
 }
body {
    background: $darkBG!important;
    color: $primary!important;
    padding-top: 60px;
    nav {
        background-color: $bg;
        height: 60px;
        a, button span {
            color: $primary;
            &.navbar-brand {
                color: $primary!important;
            }
        }
        .nav-toggle {
            background: none;
            border: none;
            span {
                display: block;
                height: 2px;
                width: 25px;
                background-color: $primary;
                margin: 5px 0;
            }
        }
    }
    .offcanvas {
        background-color: $bg;
        a {
            color: $primary!important;
            &:hover {
                color: $primaryHover!important;
                transition: all .25s ease;
            }
        }
        .fa-xmark {
            font-size: 2rem;
            cursor: pointer;
            &:hover {
                color: $primaryHover;
                transition: all .5s ease;
            }
        }
    }
    .masthead {
        min-height: 100vh;
        align-items: center;
        display: flex;
        h1 {
            color: $secondary;
        }
        .resume {
            background: $secondary;
            border: none;
            color: #fff;
            width: 100%;
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 15px;
            &:hover {
                background-color: $secondaryHover;
                transition: all .5s ease;
            }
        }
        .contact {
            a {
                font-size: 5rem;
                line-height: 1.5rem;
                margin: 0 10px;
                .fa-github-square {
                    color: #fff;
                }
                .faLinkedin {
                    color: #0a66c2;
                }
                .fa-envelope {
                    color: $primary;
                }
            }
        }
    }
    #skills, #projects {
        padding: 4rem 0;
        h2 {
            color: $secondary;
        }
        .col {
            text-align: center;
            margin: 2rem 1rem;
            color: $primary;
            transition: all .25s ease;
            svg {
                font-size: 3rem;
            }
            small {
                display: block;
                margin: 1em;
            }
            &.html {
                &:hover {
                    color: #dd4b25;
                    transition: color 1.5s ease;
                }
            }
            &.css {
                &:hover {
                    color: #254bdd;
                    transition: color 1.5s ease;
                }
            }
            &.bootstrap {
                &:hover {
                    color: #6d11ee;
                    transition: color 1.5s ease;
                }
            }
            &.sass {
                &:hover {
                    color: #c76395;
                    transition: color 1.5s ease;
                }
            }
            &.javascript {
                &:hover {
                    color: #efd81d;
                    transition: color 1.5s ease;
                }
            }
            &.reactjs {
                &:hover {
                    color: #00c6f7;
                    transition: color 1.5s ease;
                }
            }
            &.wordpress {
                &:hover {
                    color: #207195;
                    transition: color 1.5s ease;
                }
            }
        }
    }
    .card {
        min-height: 200px;
        border: none;
        overflow: hidden;
        border-radius: 5px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        h3 {
            position: absolute;
            z-index: 4;
            text-align: center;
            font-size: 1rem;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 10px;
            color: #fff;
        }
        .backdrop {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: $darkBG;
            opacity: .75;
            z-index: 3;
        }
        .desc {
            background: $bg;
            text-align: center;
            padding: 15px;
            top: -100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            transition: all .5s ease;
            p {
                color: $primary;
                font-size: 1rem;
                margin: .25rem 0;
            }
            span {
                margin: 2px;
                font-size: .7rem;
            }
            a.btn {
                margin-top: 15px;
                width: 100%;
                background-color: $secondary;
                border: none;
                &:hover {
                    background-color: $secondaryHover;
                }
            }
        }
        &:hover {
            .desc {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                transition: all .5s ease;
            }
            h3 {
                display: none;
            }
        }
    }
}
@media(min-width: 992px){
    body {
        nav {
            .nav-toggle {
                display: none;
            }
        }
        .masthead {
            min-height: 540px;
            img {
                max-width: 400px;
            }
            .resume {
                max-width: 250px;
            }
        }
    }
}